<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JoyToAny.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JoyToMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <JoyToAny.Properties.Settings>
      <setting name="cmbXY1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="cmbXY2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="cmb1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="cmb2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="cmb3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb5" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="cmb6" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="cmb7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb17" serializeAs="String">
        <value>58</value>
      </setting>
      <setting name="cmb18" serializeAs="String">
        <value>59</value>
      </setting>
      <setting name="cmb19" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="cmb20" serializeAs="String">
        <value>61</value>
      </setting>
      <setting name="cmb21" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb22" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb23" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb24" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb26" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb27" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb28" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb29" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="cmb30" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="cmb31" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb32" serializeAs="String">
        <value>0</value>
      </setting>
    </JoyToAny.Properties.Settings>
    <JoyToMouse.Properties.Settings>
      <setting name="cmbXY1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="cmbXY2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="cmb1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="cmb2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="cmb3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb5" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="cmb6" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="cmb7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb17" serializeAs="String">
        <value>58</value>
      </setting>
      <setting name="cmb18" serializeAs="String">
        <value>59</value>
      </setting>
      <setting name="cmb19" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="cmb20" serializeAs="String">
        <value>61</value>
      </setting>
      <setting name="cmb21" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb22" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb23" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb24" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb26" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb27" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb28" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb29" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="cmb30" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="cmb31" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cmb32" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="CharaPosX" serializeAs="String">
        <value>475</value>
      </setting>
      <setting name="CharaPosY" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="AnalogFree" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="CharaMoveMax" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FreeMoveMax" serializeAs="String">
        <value>10</value>
      </setting>
    </JoyToMouse.Properties.Settings>
  </userSettings>
</configuration>
